.main {
  height: 100%;
}

.header {
  display: 'flex';
  justify-items: 'flex-start';
  text-align: 'center';
  color: var(--primary-color);
  font-weight: 'bold';
  height: 64;
  padding-inline: 48;
  line-height: '64px';
  background-color: '#dcdcdc';
}
